.feynman {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 890px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }